<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.order.dao.OrderDao">

    <sql id="base_where_clause">
        <where>
            <if test="id != null">
                t.id = #{id}
            </if>
        </where>
    </sql>

    <select id="searchVOList" resultType="Order">
        select * from ge_order t
        <include refid="base_where_clause"/>
    </select>
</mapper>